#about{
    background-color: #ff5733;
}

.about__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}
  
.about__img{
    height: 300px;
    width: 295px;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.75);
}

.about__para{
    font-size: 20px;
    line-height: 2;
    max-width: 450px;
}