.container__nav{
    padding: 0;
}

.nav__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    padding: 0 20px;
}

#personal-logo{
    width: 100px;
    height: 75px;
    border-radius: 20px;
    border: 2px solid white;
    margin-top: 16px;
}

.nav__link--list{
    display: flex;
}

.nav__link{
    margin: 0 12px;
}

.nav__link--anchor{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 700;
}