@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: white;
}

html{
  scroll-behavior: smooth;
}

li{
  list-style-type: none;
}

p{
  line-height: 1.5;
  font-size: 16px;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
}

section{
  display: block;
}

.section__title{
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
}

.container{
  padding: 50px 0;
  width: 100%;
}

.row{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
}

.title{
  font-size: 120px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
}